/* filter */
.pt-filter {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 5rem;
    border: 0;
}
.pt-filter .layered-heading {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 3.7rem;
    padding: 0.5rem 1.5rem;
    margin-top: 0;
    background: #ebebeb;
    margin-bottom: 2.5rem;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    display: none;
}
.pt-filter .list-group {
    margin: 0;
    padding: 0;
}
.filter-attribute-container {
    clear: both;
    margin-bottom: 2rem;
}
.filter-attribute-container:last-child {
    margin: 0;
    border: 0;
}
.filter-attribute-container label {
    color: #242424;
    font-weight: 500;
    font-size: 2rem;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 2.4rem;
    letter-spacing: -0.05em;
}
.filter-attribute-container .list-group-item {
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.filter-attribute-container .list-group-item div a {
    color: #242424;
    line-height: 2.4rem;
    padding: 0.8rem 0;
    display: block;
}
.filter-attribute-container .list-group-item div a:hover {
    color:#cc2121;
}
.filter-attribute-container .list-group-item div a:before {
    content: "\f383";
    font-family: "Ionicons";
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.3rem;
    text-align: center;
    border: 1px solid #dfdfdf;
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.3rem;
    margin-right: 1rem;
    color: #fff;
    border-radius: 1px;
    -webkit-border-radius: 1px;
}
.filter-attribute-container .list-group-item div a:hover:before {
    color: #cc2121;
    border-color: #cc2121;
}
.filter-attribute-container .list-group-item div a:nth-child(even) {
}
.filter-attribute-remove-container {padding: 0;border: 0;margin: 0;}
.filter-attribute-remove-container p {
    float: left;
}
.filter-attribute-remove-container .remove-filter {
    float: right;
    color: red;
}
.filter-attribute-remove-container .remove-filter:hover {
    color: #cc2121;
}
.filter-attribute-remove-container .filter-clear-all {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 2rem;
    margin-bottom: 2.5rem;
}
.filter-attribute-remove-container .clear-filter {
    line-height: 2.2rem;
    font-size: 1rem;
    text-transform: uppercase;
    background: #333;
    display: inline-block;
    vertical-align: top;
    padding: 0 9px;
    color: #fff;
    font-weight: 700;
    float: right;
    margin: 1rem 0 0 0;
}
.filter-attribute-remove-container .clear-filter:hover {
    background: #cc2121;
}
.filter-price {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
#slider-price {
    border: 0;
    height: 0.5rem;
    background: #dbdbdb;
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: inset 0 2px 0 0 #cacaca;
    -webkit-box-shadow: inset 0 2px 0 0 #cacaca;
}
.ui-slider .ui-slider-range {
    background: #cc2121;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    width: 1.3rem;
    height: 1.3rem;
    border: 0;
    background: #fff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    cursor: pointer;
    outline: none;
    margin: -0.65rem 0 0 0;
    top: 50%;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
}
.ui-state-default, .ui-widget-content .ui-state-default:last-child, .ui-widget-header .ui-state-default:last-child {
    margin-left: -1.3rem;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: #cc2121;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.slider-values {
    margin-top: 2rem;
    color: #242424;
    font-weight: 500;
}
.slider-values input {
    background: none;
    border: 0;
    width: 40%;
}
@media (max-width: 991px) {
    .list-group-item,.list-categories-content {
        max-height: 215px;
        overflow: auto;
    }
    .filter-price {
        padding-left: 3px;
        padding-right: 3px;
    }
}